<% if @option_all.present? %>
	<div class="row mt-0">
		<div class="col-md-10 offset-md-1 mt-3">
			<hr>
			<h3><%= pluralize(count, "Option") %>:</h3>
		</div>
	</div>
	<div class="row ml-5 pl-5 mt-2">
		<% @option_all.each do |each_option| %>
			<% if each_option.question_id == each_question.id %>
				<% if each_option.is_answer == true %>
					<% color='success' %>
				<% else %>
					<% color='primary' %>
				<% end %>
				<div class="col-md-5 my-1 ml-1 text-center border border-light grey-back pt-1">
						<h3>
							<button class='btn btn-<%="#{color}"%>' data-toggle="modal" data-target='#edit-<%="#{each_option.opt_name}"%>-Modal'><%= each_option.opt_name %></button>
							<!-- Modal Form for Edit Option -->
							<div class="modal fade" id='edit-<%="#{each_option.opt_name}"%>-Modal' tabindex="-1" role="dialog" aria-labelledby='edit-<%="#{each_option.opt_name}"%>-Modal' aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title">Edit Option: <%= each_option.opt_name %></h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body mx-5 font-weight-normal">
							        <%= form_for each_option, :url => option_path(each_option), :method => :put do |f| %>
							        	<div class="form-group">
								        	<%= f.label :option %><br/>
											<%= f.text_field :opt_name, class: "form-control", placeholder: "Enter the question" %>
										</div>
										<div class="form-group form-check">
											<%= f.check_box :is_answer, class:"form-check-input" %>
											<label class="form-check-label">Set Answer</label>
										</div>
							      </div>
							      <div class="modal-footer pr-5">
							        
						        	<%= f.submit class: "btn btn-primary" %>
						        	<%= link_to 'Delete', option_path(each_option), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
						        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							        <% end %>
							      </div>
							    </div>
							  </div>
							</div>
						</h3>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>