<p>
	<% if @question_all.present? %>
		<br>
		<h5 class="mb-2">Questions in the quiz: <%= @quiz.name %></h5>
		<div class="list-group mt-1">
			<% @question_all.each do |each_question| %>
				<p>
					<a class="btn btn-link list-group-item list-group-item-action" data-toggle="collapse" href="#collapseQuestion-<%="#{each_question.id}"%>" role="button" aria-expanded="false" aria-controls="collapseQuestion">
				    	<%= each_question.questions %>
				  	</a>
				</p>
				<div class="collapse mb-2" id="collapseQuestion-<%="#{each_question.id}"%>">
				  <div class="card card-body">
				    <p>
						Answer:
						<%= each_question.answer %>
					</p>
					<p>
						Score:
						<%= each_question.score %>
					</p>
				  </div>
				</div>
			<% end %>
		</div>
	<% end %>
</p>
