<p>
	<% if @question_all.present? %>
		<br>
		<h5 class="mb-2">Questions in the quiz: <%= @quiz.name %></h5>
		<div class="list-group mt-1">
			<% @question_all.each do |each_question| %>
				<p>
					<% found = false %>
				  	<% count=0 %>
			  		<% if @option_all.present? %>
			  			<% @option_all.each do |each_option| %>
							<% if each_option.question_id == each_question.id %>
								<% count +=1 %>
								<% if each_option.is_answer == true %>
									<% found = true %>
									<% @answer = each_option.opt_name %>
							  	<% end %>
							<% end %>
						<% end %>
					<% end %>
					<a class="btn btn-link list-group-item list-group-item-action" data-toggle="collapse" href="#collapseQuestion-<%="#{each_question.id}"%>" role="button" aria-expanded="false" aria-controls="collapseQuestion">
				    	<%= each_question.questions %>
				    	<% if found == false || count<=1  %>
					  	<span class="float-right alert-icon font-weight-bold pr-4">
					  		<%= fa_icon "exclamation", class: "fa-2x" %>
					  	</span>
				  	<% end %>
				  	</a>
				</p>
				<div class="collapse mb-2" id="collapseQuestion-<%="#{each_question.id}"%>">
				  <div class="card card-body">
					<% if found == false || count<=1  %>
						<% error_messages=Array.new %>
						<% if found == false %>
							<% error_messages.push("This question does not have an answer set!") %>
						<% end %>
						<% if count<=1 %>
							<% error_messages.push("This question has less than 2 options") %>
						<% end %>
						<div class="alert alert-danger" role="alert">
							<ul>
								<% error_messages.each do |error_message| %>
							  		<li><%= error_message %></li>
							  	<% end %>
						  	</ul>
						</div>
					<% end %>
				  	<div class="row">
						<% if found==true %>
							<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-5 offset-1">
					  			<h4>Answer:
									<small><%= @answer %></small>
								</h4>
					  		</div>
				  		<% end %>
				  		<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-5 offset-1">
				  			<h4>Score:
								<small><%= each_question.score %></small>
							</h4>
				  		</div>
				  	</div>
				  	<%= render 'option_list', :each_question => each_question %>

				  	<div class="row">
						<div class="col-md-10 offset-md-1 mt-3">
							<hr>
						 	<p>
							  <a class="btn btn-info" data-toggle="collapse" href="#collapseOption" role="button" aria-expanded="false" aria-controls="collapseExample">
							    Add an option
							  </a>
							  <span class="float-right">
							  	<%= link_to 'Delete Question', question_path(each_question), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
							  </span>
							</p>
							<div class="collapse" id="collapseOption">
							  <div class="card card-body">
							    <%= render "options/form",
		           					:option => @option, :question_id => each_question.id %>
							  </div>
							</div>
						</div>
					</div>
				  </div>
				</div>
			<% end %>
		</div>
	<% end %>
</p>
