<p>
	<% if @question_all.present? %>
		<br>
		<h5 class="mb-2">Questions in the quiz: <%= @quiz.name %></h5>
		<div class="list-group mt-1">
			<% @question_all.each do |each_question| %>
				<p>
					<a class="btn btn-link list-group-item list-group-item-action" data-toggle="collapse" href="#collapseQuestion-<%="#{each_question.id}"%>" role="button" aria-expanded="false" aria-controls="collapseQuestion">
				    	<%= each_question.questions %>
				  	</a>
				</p>
				<div class="collapse mb-2" id="collapseQuestion-<%="#{each_question.id}"%>">
				  <div class="card card-body">
				  	<div class="row">
				  		<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-5 offset-1">
				  			<h4>Answer:
								<small><%= each_question.answer %></small>
							</h4>
				  		</div>
				  		<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-5 offset-1">
				  			<h4>Score:
								<small><%= each_question.score %></small>
							</h4>
				  		</div>
				  	</div>
				 	
					<%= render 'option_list', :each_question => each_question %>
					<%= render "options/form",
           				:option => @option, :question_id => each_question.id %>
				  </div>
				</div>
			<% end %>
		</div>
	<% end %>
</p>
