<div class="row mt-4 text-center">
	<div class="col-md-5 offset-md-1 col-sm-5 offset-sm-1 col-5 offset-1 border border-primary alert alert-primary">
		<h4>Number of questions</h4>
		<span class="display-3"><%= @questions.length() %></span>
	</div>
	<div class="col-md-5 col-sm-5 col-5 border border-left-0 border-primary alert alert-primary">
		<h4>Total Score</h4>
		<span class="display-3"><%= @total_score %></span>
	</div>
</div>

<div class="mr-4 ml-5">
	<% if @quiz.categories.any? %>
		<%= render @quiz.categories %>
	<% end %>
</div>

<h3 class="text-center mt-4">Questions:</h3>

<div class="text-center mt-3">
	<% i=1 %>
	<div class="accordion" id="accordionExample">
		<% while i <= @questions.length()  %>
			<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse<%="#{i}"%>" aria-expanded="true" aria-controls="collapse<%="#{i}"%>"><%= i %></button>
		<% i+=1 %>
		<% end %>
		<% i=1 %>
		<% @questions.each do |each_question| %>
			<% if i==1 %>
				<% show="show" %>
			<% else %>
				<% show="" %>
			<% end %>
			<div id="collapse<%="#{i}"%>" class="collapse <%="#{show}"%> border mt-3 py-1" aria-labelledby="heading<%="#{i}"%>" data-parent="#accordionExample">
				<%= each_question.questions %>
			</div>
			<% i+=1 %>
		<% end %>
	</div>
</div>