<!--Form for edit question-->
<h1 class="mt-3 mb-5 text-center">Edit Question</h1>

<%= render 'questions_errors' %>

<div class="row mt-3">
	<div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
		<%= form_for @each_question, :url => question_path(@each_question), :method => :put do |f| %><!--Submits to update action of question controller-->
		    <div class="form-group">
	        	<%= f.label :question %><br/>
				<%= f.text_field :questions, class: "form-control" %>
			</div>
			<div class="form-group">
	        	<%= f.label :score %><br/>
				<%= f.number_field :score, class: "form-control" %>
			</div>
		  <%= f.submit class: "btn btn-primary" %>
		<% end %>
	</div>
	<div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2 pl-3 mt-3">
		[ <%= link_to 'Cancel request and return to quiz', {:controller => 'quizzes', :action => 'show', :id => @each_question.quiz_id} %> ]
	</div>
</div>