<h1 class="mt-3 text-center">Listing all Quizzes</h1>
<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
      <th scope="col">Number of questions</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <% @question_all = Question.where(quiz_id: quiz.id) %>
      <% @total_score = @question_all.sum(:score) %>
      <%# link_to quiz_path(quiz) do %>
        <tr>
          <td onclick="window.location='<%= quiz_path(quiz) %>'" class="quiz-row"><%= quiz.name %></td>
          <td onclick="window.location='<%= quiz_path(quiz) %>'" class="quiz-row"><%= @total_score %></td>
          <td onclick="window.location='<%= quiz_path(quiz) %>'" class="quiz-row"><%= @question_all.length() %></td>
          <td><%= link_to 'Edit Quiz', edit_quiz_path(quiz), class: "btn btn-info btn-sm" %></td>
        </tr>
      <%# end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Quiz', new_quiz_path, class: 'btn btn-primary btn-sm' %>
