<h1>Showing <%= @quiz.name %></h1>

<%= render 'shared/question_errors' %>

<p>
	Number of questions: <%= @question_all.length() %>
</p>

<p>
	Total Score : <%= @total_score %>
</p>
<!--Question List -->

<%= render 'question_list' %>
<%# link_to 'Add question', "" %>
<button id="add_ques_btn">Add question</button><br>
<p id="add_ques_form">Works</p>
<%= render "questions/form",
           :question => @question, :quiz_id => @quiz.id %>

<%= link_to 'New Quiz', new_quiz_path %>