<h1 class="text-center mt-3 mb-5">Users of Quiz App</h1>

<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Score</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% max=0 %>
    <% @users.each do |user| %><!--Calculate the maximum score-->
      <% user_score = Submission.where(user_id: user.id).sum(:score) %>
      <% if user_score > max %>
        <% max=user_score %>
      <% end %>
    <% end %>

    <% @users.each do |user| %>
      <!--Calculate the total score of each user-->
      <% if !user.admin? %><!--Only display non admin users-->
        <% user_score = Submission.where(user_id: user.id).sum(:score) %>
        <tr>
            <td><%= user.username %>
              <% if user_score==max && max!=0 %>
                <span class="float-right star-icon font-weight-bold pr-4">
                  <%= fa_icon "star", class: "fa-2x" %>
                </span>
              <% end %>
            </td>
            <td><%= user.email %></td>
            <td><%= user_score %></td>
            <td>
              <%= link_to 'View Profile', user_path(user), class: "btn btn-success btn-sm" %>
              <% if current_user.admin? %>
                <%= link_to 'Edit User', edit_user_path(user), class: "btn btn-info btn-sm ml-4" %>
                <%= link_to 'Delete User', user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm ml-4" %>
              <% end %>
              
            </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="d-flex mt-3">
  <div class="mx-auto">
    <%= will_paginate @quizzes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
